@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



<div class="min-wrapper pt-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">

            </div>
            <div class="col-lg-6 order-1 order-lg-2">


                <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>















            </div>
            <div class="col-lg-3 order-3">

            </div>
        </div>
    </div>
</div>
<div class="card">
                            








