@model UserMessagesModel


<form>
    <textarea asp-for="@Model.Message" placeholder="Type your message"></textarea>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt="">
    <button type="submit" class="btn" style="float: right;">Send</button>
</form>